body{
    background-color: #c200ff;
}
h1{
    color: orange;
    
}
p{
    background-color: #c333c5;
    word-spacing: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 20px;

}
#div1{
    background-image: url("https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
#div2{
    background-color: #b5a4ba;
    height: 200px;
    width: 500px;
    border-radius: 20px;
}
#div3{
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}